### Common Artifacts ###
*.log
*.tmp
.DS_Store
Thumbs.db

### Build Artifacts ###
**/build/

### Gradle ###
**/.gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Spring Tool Suite (STS) ###
**/.apt_generated/
**/.classpath
**/.factorypath
**/.project
**/.settings/
**/.sts4-cache/
**/bin/

### IntelliJ IDEA ###
**/.idea/
*.iws
*.iml
*.ipr

### Exclude OS-specific files ###
*.swp
*.bak
*.~*

### Logs ###
logs/
*.log

### Node.js (Optional) ###
node_modules/
